---
import Page from "@layouts/Page.astro";
import Navbar from "@components/Navbar.astro";
---

<Page title="Contact">
  <Navbar page="contact" />
  <main>
    <div class="container-fluid">
      <div class="grid">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-7 col-xl-6">
            <h1>Contact Us</h1>
          </div>
        </div>
        <div class="row justify-content-center pb-3">
          <div class="col-md-10 col-lg-7 col-xl-6">
            <div class="card text-bg-light border-light p-3">
              <form id="contact-form" novalidate>
                <div class="row mb-3">
                  <label for="name" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      required
                    />
                    <div class="invalid-feedback">Please enter your name</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="email" class="col-sm-2 col-form-label"
                    >Email</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      required
                    />
                    <div class="invalid-feedback">Please enter an email</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="phone" class="col-sm-2 col-form-label"
                    >Phone</label
                  >
                  <div class="col-sm-10">
                    <input type="tel" class="form-control" id="phone" />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="message" class="col-sm-2 col-form-label"
                    >Message</label
                  >
                  <div class="col-sm-10 col-12">
                    <textarea
                      class="form-control"
                      id="message"
                      style="height: 100px"
                      required></textarea>
                    <div class="invalid-feedback">Please enter a message</div>
                  </div>
                </div>
                <div class="row justify-content-end">
                  <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-7 col-xl-6">
            <div class="card text-bg-light border-light p-3">
              <div class="grid">
                <div class="row">
                  <p class="col-sm-2">Phone</p>
                  <a class="col-auto" href="tel:5613897151">561-389-7151</a>
                </div>
                <div class="row">
                  <p class="col-sm-2">Email</p>
                  <a
                    class="col-auto"
                    href="mailto:office@broadmoormachinery.com"
                    >office@broadmoormachinery.com</a
                  >
                </div>
                <div class="row">
                  <p class="col-sm-2 m-0">Mailing Address</p>
                  <p class="col-auto m-0">
                    1133 Old Dixie Hwy #2<br />Lake Park, FL 33403
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    (() => {
      "use strict";
      const form = document.getElementById("contact-form") as HTMLFormElement;

      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    })();
  </script>
</Page>
