---
import Page from "@layouts/Page.astro";
import Navbar from "@components/Navbar.astro";
---

<Page title="Manufacturers">
  <Navbar page="manufacturers" />
  <main>
    <h1>Manufacturers</h1>
  </main>
</Page>
