---
import Page from "@layouts/Page.astro";
import Navbar from "@components/Navbar.astro";
---

<Page title="Job Showcase">
  <Navbar page="showcase" />
  <main>
    <h1>Job Showcase</h1>
  </main>
</Page>
