---
import Page from "@layouts/Page.astro";
import Navbar from "@components/Navbar.astro";
---

<Page title="In-Stock Machines">
  <Navbar page="store" />
  <main>
    <h1>In-Stock Machines</h1>
  </main>
</Page>
