---
type Page = "home" | "manufacturers" | "store" | "showcase" | "contact";

interface NavItem {
  page: Page;
  label: string;
  href: string;
}

const navbar: NavItem[] = [
  {
    page: "home",
    label: "Home",
    href: "/",
  },
  {
    page: "manufacturers",
    label: "Manufacturers",
    href: "/manufacturers",
  },
  {
    page: "store",
    label: "In-Stock Machines",
    href: "/store",
  },
  {
    page: "showcase",
    label: "Job Showcase",
    href: "/showcase",
  },
  {
    page: "contact",
    label: "Contact",
    href: "/contact",
  },
];

export interface Props {
  page: Page;
}

const { page } = Astro.props;
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/logo.jpeg"
        alt="Broadmoor Machinery"
        width="265"
        height="50"
        class="d-inline-block"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        {
          navbar.map((nav) =>
            nav.page === page ? (
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={nav.href}>
                  {nav.label}
                </a>
              </li>
            ) : (
              <li class="nav-item">
                <a class="nav-link" href={nav.href}>
                  {nav.label}
                </a>
              </li>
            )
          )
        }
      </ul>
    </div>
  </div>
</nav>
